<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->

<phpunit processIsolation="false"
         stopOnFailure="false"
         strict="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         bootstrap="./vendor/autoload.php"
         stderr="true">
    <testsuites>
        <testsuite name="Bol.com retailer API">
            <directory suffix=".php">./src/Test</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="BOL_CLIENT_ID" value="BOL_CLIENT_ID_VALUE"/>
        <const name="BOL_CLIENT_SECRET" value="BOL_CLIENT_SECRET_VALUE"/>
    </php>
</phpunit>
